*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
DepoReport.txt
src/examApplication/src/DDB/log/README_DO_NOT_TOUCH_FILES.txt
src/examApplication/src/DDB/README_DO_NOT_TOUCH_FILES.txt
Test3.doc
src/examApplication/src/DDB/seg0/README_DO_NOT_TOUCH_FILES.txt
src/examApplication/src/Exam/createAndFillDatabase
Properties.txt
derby.log
src/examApplication/src/DDB/log/log.ctrl
*.dat
src/examApplication/src/DDB/log/logmirror.ctrl
src/examApplication/src/DDB/service.properties
.project
.classpath
